@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#font{
    font-family: 'Roboto', sans-serif;
    }

.contenedor {
    position: relative;
}

.menu-w{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2;
}

.btn-atras{

    text-decoration: none;
    font-size: small;
    color: white;
    position: absolute;
    top: 9% ;
    left: 4%;
    z-index: 2;
} 


.boton-1 {
    position: absolute;
    background-color: #FF8833;
    color: white;
    font-size: medium;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 15px;

    width: 350px;
    height: 47px;
    top: 92% ;
    left: 4%;
    text-align: center;
    border-radius: 5px;
}

.input{
    position: absolute;
    padding: 10px 60px;
    text-align: center;
    border-color: #FF8833;
    border-radius: 5px  ;
    border-width: 3px;
    border-style: solid;
    
    top: 84% ;
    font-size: large;
}


input::placeholder {
    color: rgba(134, 134, 134, 0.5); 
}


.fondo {
    background-color: rgb(215, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: static;
}