.contenedor {
    position: relative;
}
 
.menu-w{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2;
}


#btn3-1{
    position: absolute;
    top: 43% ;
    left: 2%;
    z-index: 2;

    background-color: #FF8833;
    color: white;
    font-size: small;
    padding: 8px 40px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#btn3-2{
    position:absolute;
    top: 67% ;
    left: 2%;
    z-index: 2;

    background-color: #FF8833;
    color: white;
    font-size: small;
    padding: 8px 40px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.fondo {
    background-color: rgb(215, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: static;
}
